<ion-view view-title="详细">
  <ion-content class="area">
    <img ng-src="{{lists.img1}}" alt="" class="ban">
    <div class="jieshao">
      <h3>服务员专场面试会</h3>
      <div>
        <span>￥ 200</span>
        <span>/天</span>
      </div>
      <p>最具人气的火锅连锁商品-高新招聘主管+丰富的内部晋升机会，包吃包住，周一至周五上班</p>
    </div>
    <ul class="lianxi">
      <li>
        <img src="../img/dianhua.png" alt="">
        <span>咨询电话 136****1931</span>
      </li>
      <li>
        <img src="../img/biao.png" alt="">
        <span>面试时间10月8日10:00-16:00</span>
      </li>
      <li>
        <img src="../img/dibiao.png" alt="">
        <span>面试地点石景山总工会2层博看文思</span>
      </li>
    </ul>
    <div class="con-job">
      <div class="job">
        <div class="biaoti"><h3>职位描述</h3></div>
        <div class="job-detail">
          <p>1、为客户提供快速、准确和专业额课程咨询服务；</p>
          <p>2、为客户提供快速、准确和专业额课程咨询服务；</p>
          <p>3、为客户提供快速、准确和专业额课程咨询服务；</p>
          <p>4、为客户提供快速、准确和专业额课程咨询服务；</p>
          <p>5、为客户提供快速、准确和专业额课程咨询服务；</p>
          <p>6、为客户提供快速、准确和专业额课程咨询服务；</p>
        </div>
      </div>
      <div class="job">
        <div class="biaoti"><h3>任职要求</h3></div>
        <div class="job-detail">
          <p>1、为客户提供快速、准确和专业额课程咨询服务；</p>
          <p>2、为客户提供快速、准确和专业额课程咨询服务；</p>
          <p>3、为客户提供快速、准确和专业额课程咨询服务；</p>
          <p>4、为客户提供快速、准确和专业额课程咨询服务；</p>

        </div>
      </div>
    </div>






  </ion-content>














</ion-view>
