<ion-view view-title="教育培训">
  <ion-nav-title>
    <span>{{title}}</span>
  </ion-nav-title>
  <ion-nav-buttons side="right">
    <a class="ion-search" href="#/app/jydetail/{{p.id}}">
    </a>
  </ion-nav-buttons>
  <ion-content class="content e_style" overflow-scroll="true">

    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="../img/e_02.png" alt=""></div>
        <div class="swiper-slide"><img src="../img/e_02.png" alt=""></div>
        <div class="swiper-slide"><img src="../img/e_02.png" alt=""></div>
      </div>
      <div class="pagination"></div>
    </div>
    <h2><img src="../img/e_icon.png" alt=""> 热门课程</h2>
    <ul id="e_ul">
      <li>
        <a ng-href='#/app/jydetail/{{p.id}}'>
          <img src="../img/e_03.png" alt="">
          <h3>四大高薪行业晋级班</h3>
          <div class="e_info">
            <span class="price">&yen;299</span>
            <span class="t_class">共计5课时</span>
          </div>
        </a>
      </li>
      <li>
        <a ng-href='#/app/jydetail/{{p.id}}'>
          <img src="../img/e_04.png" alt="">
          <h3>四大高薪行业晋级班</h3>
          <div class="e_info">
            <span class="price">&yen;299</span>
            <span class="t_class">共计5课时</span>
          </div>
        </a>
      </li>
      <li>
        <a ng-href='#/app/jydetail/{{p.id}}'>
          <img src="../img/e_05.png" alt="">
          <h3>四大高薪行业晋级班</h3>
          <div class="e_info">
            <span class="price">&yen;299</span>
            <span class="t_class">共计5课时</span>
          </div>
        </a>
      </li>
      <li>
        <a ng-href='#/app/jydetail/{{p.id}}'>
          <img src="../img/e_06.png" alt="">
          <h3>四大高薪行业晋级班</h3>
          <div class="e_info">
            <span class="price">&yen;299</span>
            <span class="t_class">共计5课时</span>
          </div>
        </a>
      </li>
    </ul>
    </div>

  </ion-content>
</ion-view>
