<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
      <ion-nav-buttons side="right" >
        <i class="icon ion-android-search" style="font-size: 30px;margin-top:3px;margin-right:5px;" ng-click="searchs()"></i>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-positive">
      <i class="icon ion-chevron-left r-jt"></i>
      <h1 class="title"></h1>
      <span class="button icon ion-person"></span>
    </ion-header-bar>
    <ion-content>
      <ion-list id="menu">
        <ion-item menu-close href="#/app/newshome">
          <img src="../img/ce1.jpg" alt=""><span class="sp">校园新闻</span><span class="arr"><i class="icon ion-ios-arrow-right"></i></span>
        </ion-item>
        <ion-item menu-close href="#/app/search">
          <img src="../img/ce2.jpg" alt=""><span class="sp">教育培训</span><span class="arr"><i class="icon ion-ios-arrow-right"></i></span>
        </ion-item>
        <ion-item menu-close href="#/app/search">
          <img src="../img/ce3.jpg" alt=""><span class="sp">微圈子</span><span class="arr"><i class="icon ion-ios-arrow-right"></i></span>
        </ion-item>
        <ion-item menu-close href="#/app/playlists">
          <img src="../img/ce4.jpg" alt=""><span class="sp">跳骚市场</span><span class="arr"><i class="icon ion-ios-arrow-right"></i></span>
        </ion-item>
        <ion-item menu-close href="#/app/market">
          <img src="../img/ce5.jpg" alt=""><span class="sp">兼职吧</span><span class="arr"><i class="icon ion-ios-arrow-right"></i></span>
        </ion-item>
        <ion-item menu-close href="#/app/browse">
          <img src="../img/ce6.jpg" alt=""><span class="sp">个人中心</span><span class="arr"><i class="icon ion-ios-arrow-right"></i></span>
        </ion-item>
        <!--<ion-item menu-close ng-click="login()">-->
        <!--登录-->
        <!--</ion-item>-->
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
