

<ion-view view-title="娱乐新闻" class="ion-view-positive">

  <ion-nav-buttons side="right">
    <i class="icon ion-android-search" style="font-size: 30px;margin-top:3px;margin-right:5px;" ng-click="searchs()"></i>
  </ion-nav-buttons>

  <div class="tabs-striped tabs-top tabs-background-light tabs-color-dark" >
    <div class="tabs" >
      <a class="tab-item " href="#/app/newshome">
        头条
      </a>
      <a class="tab-item active" href="#">
        娱乐
      </a>
      <a class="tab-item"  href="#">
        学习
      </a>
      <a class="tab-item"  href="#">
        交友
      </a>
      <a class="tab-item" href="#">
        活动
      </a>
    </div>
  </div>

  <ion-content id="newshappycont">
    <ion-list>
      <!--<ion-item ng-repeat="x in newslists" href="#/app/playlists/{{playlist.id}}">-->

      <!--<img src="{{x.img}}" alt="">-->
      <!--<h3>{{x.title}}</h3>-->
      <!--<p>{{}}</p>-->
      <!--</ion-item>-->

      <ion-item class="item-remove-animate item-thumbnail-left " ng-repeat="x in newshappydata" type="item-text-wrap" ng-href="#/app/newsdetail/{{x.id}}">
        <img ng-src="{{x.img}}">
        <h2>{{x.title}}</h2>
        <p>{{x.ps}}</p>

        <div id="news-del">
          <span id="newsdate">5小时前</span>
          <i class="icon ion-thumbsup" id="newsicon-zan"></i><span>123</span>
          <i class="icon ion-android-hangout" id="newsicon-xx"></i><span side="right">365</span>
        </div>
      </ion-item>

    </ion-list>
  </ion-content>
</ion-view>
