
<ion-view view-title="我要发布">


  <ion-content>
    <ul class="issue">
      <li>
        <img src="../../img/tz-c1.jpg" alt="">
      </li>
      <li>
        <img src="../../img/tz-c2.jpg" alt="">
      </li>
      <li style="font-size: .6rem;color: #4b8bf4;text-align: center;line-height: 1.1rem;">
          <i class="icon ion-plus"></i>
      </li>
    </ul>

    <ul class="bdan">
      <li>
        <label for="title">标题</label>
        <input type="text" id="title">
      </li>
      <li>
        <label for="bqian">标签</label>
        <input type="text" id="bqian">
      </li>
      <li>
        <label for="jiage">价格</label>
        <input type="text" id="jiage">
      </li>
      <li>
        <label for="tel">联系方式</label>
        <input type="text" id="tel">
      </li>
      <li>
        <label for="msu">描述</label>
        <textarea id="msu" col="30" rows="5"></textarea>
      </li>
    </ul>

  </ion-content>
</ion-view>




